@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800&subset=cyrillic");
/* line 3, /Users/Polik/Desktop/instagram/css/main.sass */
*, html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-content-zooming: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  outline: none; }

/* line 16, /Users/Polik/Desktop/instagram/css/main.sass */
.wr {
  width: 1170px;
  max-width: 97%;
  margin-right: auto;
  margin-left: auto; }

/* line 21, /Users/Polik/Desktop/instagram/css/main.sass */
img {
  height: auto; }

/* line 25, /Users/Polik/Desktop/instagram/css/main.sass */
ul {
  list-style: none; }

/* line 28, /Users/Polik/Desktop/instagram/css/main.sass */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

/* line 33, /Users/Polik/Desktop/instagram/css/main.sass */
section {
  padding-top: 40px;
  padding-bottom: 100px; }

/* line 36, /Users/Polik/Desktop/instagram/css/main.sass */
h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

/* line 40, /Users/Polik/Desktop/instagram/css/main.sass */
h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

/* line 44, /Users/Polik/Desktop/instagram/css/main.sass */
h3 {
  font-size: 18px;
  font-weight: 700; }

/* line 47, /Users/Polik/Desktop/instagram/css/main.sass */
h4 {
  font-size: 17px; }

/* line 50, /Users/Polik/Desktop/instagram/css/main.sass */
p, li {
  font-size: 16px; }

/* line 53, /Users/Polik/Desktop/instagram/css/main.sass */
.btn {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 15px;
  background-image: -moz-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
  background-image: -webkit-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
  background-image: -ms-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
  font-size: 16px;
  color: #f9fbff;
  width: 262px;
  height: 60px;
  font-weight: bold;
  transition: all .3s ease; }

/* line 76, /Users/Polik/Desktop/instagram/css/main.sass */
.section_head {
  z-index: 20;
  margin-bottom: 110px; }
  /* line 79, /Users/Polik/Desktop/instagram/css/main.sass */
  .section_head h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; }

/* line 86, /Users/Polik/Desktop/instagram/css/main.sass */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 95px; }
  /* line 93, /Users/Polik/Desktop/instagram/css/main.sass */
  .header .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; }
  /* line 102, /Users/Polik/Desktop/instagram/css/main.sass */
  .header_logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    /* line 108, /Users/Polik/Desktop/instagram/css/main.sass */
    .header_logo img {
      height: 36px; }
  /* line 111, /Users/Polik/Desktop/instagram/css/main.sass */
  .header_nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  /* line 118, /Users/Polik/Desktop/instagram/css/main.sass */
  .header .header_menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  /* line 128, /Users/Polik/Desktop/instagram/css/main.sass */
  .header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    /* line 135, /Users/Polik/Desktop/instagram/css/main.sass */
    .header ul li {
      margin-left: 29px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      height: 30px;
      transition: all .2s ease; }
      /* line 146, /Users/Polik/Desktop/instagram/css/main.sass */
      .header ul li a {
        color: #fff;
        font-size: 16px;
        font-weight: normal; }
    /* line 151, /Users/Polik/Desktop/instagram/css/main.sass */
    .header ul li.active {
      background: #fff;
      padding: 0px 16px;
      height: 30px;
      border-radius: 25px; }
      /* line 156, /Users/Polik/Desktop/instagram/css/main.sass */
      .header ul li.active a {
        color: #392da7;
        letter-spacing: 0.1px; }

/* line 159, /Users/Polik/Desktop/instagram/css/main.sass */
.banner {
  position: relative;
  height: 765px;
  background: #fff;
  background: url(../img/bg.svg) #f9fbff;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 166, /Users/Polik/Desktop/instagram/css/main.sass */
  .banner:after {
    background: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  /* line 176, /Users/Polik/Desktop/instagram/css/main.sass */
  .banner:before {
    content: '';
    background: url(../img/line2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -85%;
    left: 0;
    z-index: 1; }
  /* line 188, /Users/Polik/Desktop/instagram/css/main.sass */
  .banner .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 100%;
    position: relative; }
  /* line 198, /Users/Polik/Desktop/instagram/css/main.sass */
  .banner_info {
    z-index: 1;
    width: 50%; }
    /* line 202, /Users/Polik/Desktop/instagram/css/main.sass */
    .banner_info h1 {
      font-size: 36px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      margin-bottom: 20px;
      line-height: 1.2em;
      width: 70%; }
    /* line 210, /Users/Polik/Desktop/instagram/css/main.sass */
    .banner_info p {
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      line-height: 1.2em;
      width: 78%; }
  /* line 216, /Users/Polik/Desktop/instagram/css/main.sass */
  .banner_img {
    width: 50%;
    z-index: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%; }
    /* line 227, /Users/Polik/Desktop/instagram/css/main.sass */
    .banner_img .img {
      width: 557px;
      height: 525px;
      left: -58px;
      top: 175px;
      background: url(../img/IMG.png);
      background-repeat: no-repeat;
      background-position: 50% 13%;
      position: absolute; }
    /* line 237, /Users/Polik/Desktop/instagram/css/main.sass */
    .banner_img .btn {
      margin-bottom: auto;
      border-radius: 15px;
      background-image: -moz-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
      background-image: -webkit-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
      background-image: -ms-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%);
      box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5);
      font-size: 16px;
      color: #f9fbff;
      width: 262px;
      height: 60px;
      font-weight: bold;
      bottom: 163px;
      position: absolute; }

/* line 252, /Users/Polik/Desktop/instagram/css/main.sass */
.likigram {
  background: #f9fbff;
  position: relative;
  background: url(../img/Vector.png) #f9fbff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 175px; }
  /* line 260, /Users/Polik/Desktop/instagram/css/main.sass */
  .likigram:after {
    background: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  /* line 270, /Users/Polik/Desktop/instagram/css/main.sass */
  .likigram_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    /* line 277, /Users/Polik/Desktop/instagram/css/main.sass */
    .likigram_body .provide {
      width: 24%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center; }
      /* line 286, /Users/Polik/Desktop/instagram/css/main.sass */
      .likigram_body .provide img {
        height: 45px;
        margin-bottom: 10px; }
      /* line 289, /Users/Polik/Desktop/instagram/css/main.sass */
      .likigram_body .provide h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 1.2; }
      /* line 296, /Users/Polik/Desktop/instagram/css/main.sass */
      .likigram_body .provide p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center; }

/* line 300, /Users/Polik/Desktop/instagram/css/main.sass */
.package {
  background: #fff;
  position: relative;
  padding-top: 65px;
  padding-bottom: 200px; }
  /* line 305, /Users/Polik/Desktop/instagram/css/main.sass */
  .package:before {
    content: '';
    background: url(../img/Vector2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105%;
    position: absolute;
    top: -127px;
    left: 0;
    z-index: 1; }
  /* line 316, /Users/Polik/Desktop/instagram/css/main.sass */
  .package .wr {
    position: relative;
    z-index: 2; }
  /* line 320, /Users/Polik/Desktop/instagram/css/main.sass */
  .package_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    /* line 328, /Users/Polik/Desktop/instagram/css/main.sass */
    .package_body .card {
      margin: 0 38px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2);
      position: relative;
      width: 263px;
      height: 403px;
      padding: 0 45px;
      padding-top: 100px;
      margin-bottom: 135px; }
      /* line 340, /Users/Polik/Desktop/instagram/css/main.sass */
      .package_body .card p {
        font-size: 14px;
        line-height: 2.286;
        margin-bottom: 20px;
        text-align: center;
        color: #000; }
      /* line 346, /Users/Polik/Desktop/instagram/css/main.sass */
      .package_body .card_views {
        position: absolute;
        top: -17%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #392da7;
        border-radius: 50%;
        width: 146px;
        height: 146px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        /* line 365, /Users/Polik/Desktop/instagram/css/main.sass */
        .package_body .card_views span {
          font-size: 24px;
          font-weight: bold;
          color: #fff;
          line-height: .8em; }
        /* line 370, /Users/Polik/Desktop/instagram/css/main.sass */
        .package_body .card_views p {
          font-size: 16px;
          color: #fff;
          line-height: 1.8em;
          margin-bottom: 0; }
      /* line 376, /Users/Polik/Desktop/instagram/css/main.sass */
      .package_body .card h2 {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        color: #392da7;
        font-weight: bold;
        text-align: center; }
      /* line 383, /Users/Polik/Desktop/instagram/css/main.sass */
      .package_body .card .btn {
        position: absolute;
        bottom: 9%;
        border-radius: 10px;
        background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        width: 166px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        left: 50%;
        transform: translateX(-50%); }

/* line 396, /Users/Polik/Desktop/instagram/css/main.sass */
.buy {
  background: #fff;
  position: relative;
  padding-top: 0;
  padding-bottom: 70px;
  background: url(../img/buy-bg.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 404, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy:before {
    content: '';
    background: url(../img/buy-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 123%;
    position: absolute;
    top: -127px;
    left: 0;
    z-index: 1; }
  /* line 415, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy:after {
    content: '';
    background: url(../img/line2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -104%;
    left: 0;
    z-index: 1; }
  /* line 426, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy .wr {
    position: relative;
    z-index: 2; }
  /* line 429, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy .section_head {
    margin-bottom: 35px; }
    /* line 431, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .section_head h2 {
      color: #fff;
      margin-bottom: 35px; }
    /* line 434, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .section_head p {
      color: #fff;
      font-size: 16px;
      text-align: center;
      width: 50%;
      line-height: 1.313;
      margin-left: auto;
      margin-right: auto; }
    /* line 442, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .section_head .rating {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px; }
      /* line 451, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy .section_head .rating span {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 26px; }
        /* line 456, /Users/Polik/Desktop/instagram/css/main.sass */
        .buy .section_head .rating span:last-child {
          margin-right: 0; }
      /* line 458, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy .section_head .rating span.active {
        background: url(../img/star-active.svg);
        background-repeat: no-repeat;
        background-size: contain; }
      /* line 462, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy .section_head .rating span.active.half {
        background: url(../img/star-half.svg);
        background-repeat: no-repeat;
        background-size: contain; }
  /* line 466, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy .section_head2 {
    margin-bottom: 60px; }
    /* line 468, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .section_head2 h2 {
      color: #fff;
      margin-bottom: 16px; }
    /* line 471, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .section_head2 p {
      color: #fff;
      font-size: 18px;
      text-align: center;
      width: 50%;
      line-height: 1.313;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0; }
  /* line 482, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy_slider {
    margin-bottom: 130px;
    position: relative; }
    /* line 486, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider h3 {
      font-size: 18px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 20px; }
    /* line 491, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500; }
    /* line 495, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider .swiper-buy {
      width: 947px; }
    /* line 497, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider .swiper-slide {
      padding: 34px 58px;
      border-radius: 15px;
      max-width: 100%; }
    /* line 504, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider .item-rating {
      text-align-last: auto;
      font-size: 0;
      margin-bottom: 15px; }
    /* line 508, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_slider .item-star {
      display: inline-block;
      vertical-align: middle;
      width: 27px;
      height: 25px;
      margin-right: 5px; }
  /* line 514, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy_how {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 75px; }
    /* line 522, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_how .card {
      border-radius: 15px;
      background: #fff;
      width: 263px;
      height: 263px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 39px;
      padding: 43px; }
      /* line 536, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy_how .card span {
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        margin-bottom: 13px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto; }
      /* line 544, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy_how .card p {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px;
        font-weight: normal; }
      /* line 550, /Users/Polik/Desktop/instagram/css/main.sass */
      .buy_how .card img {
        height: 69px;
        width: 69px; }
  /* line 553, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy_info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    /* line 561, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy_info h3 {
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 55px;
      font-weight: normal; }
  /* line 569, /Users/Polik/Desktop/instagram/css/main.sass */
  .buy .buy_info__card {
    width: 24.5%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 578, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .buy_info__card img {
      margin-right: 10px; }
    /* line 581, /Users/Polik/Desktop/instagram/css/main.sass */
    .buy .buy_info__card p {
      font-size: 18px;
      color: #fff;
      line-height: 1.2; }

/* line 589, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 226px;
  border-radius: 15px; }

/* line 601, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-slide {
  background: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

/* line 609, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-button-buy-next {
  background: url(../img/right-arrow.svg) !important;
  background-size: 50px 40px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 50px !important;
  width: 40px !important;
  margin: 0 !important;
  top: 50% !important;
  transform: translateY(-50%);
  right: 49px !important;
  z-index: 2; }

/* line 622, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-button-buy-prev {
  background: url(../img/right-arrow.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 50px 40px !important;
  background-position: center !important;
  height: 50px !important;
  width: 40px !important;
  transform: rotate(180deg);
  margin: 0 !important;
  top: 39% !important;
  z-index: 2;
  left: 55px !important; }

/* line 635, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-pagination {
  left: 46%;
  transform: translateY(-50%);
  bottom: -23%; }

/* line 639, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-pagination-bullet {
  background: none !important;
  border: 5px solid white !important;
  width: 17px !important;
  height: 17px !important;
  margin-right: 10px;
  opacity: 1 !important; }
  /* line 647, /Users/Polik/Desktop/instagram/css/main.sass */
  .swiper-pagination-bullet:last-child {
    margin-right: 0; }

/* line 649, /Users/Polik/Desktop/instagram/css/main.sass */
.swiper-pagination-bullet-active {
  width: 17px !important;
  height: 17px  !important;
  border: 0 !important;
  background-color: white !important; }

/* line 654, /Users/Polik/Desktop/instagram/css/main.sass */
.foot_purple {
  background: url(../img/foot-purple.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 120px;
  z-index: 1; }
  /* line 663, /Users/Polik/Desktop/instagram/css/main.sass */
  .foot_purple:before {
    content: '';
    background: url(../img/line.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -14%;
    left: 0;
    z-index: 1; }

/* line 674, /Users/Polik/Desktop/instagram/css/main.sass */
.why {
  position: relative;
  padding-top: 240px;
  background: url(../img/why-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px; }
  /* line 681, /Users/Polik/Desktop/instagram/css/main.sass */
  .why:before {
    content: '';
    background: url(../img/why-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  /* line 692, /Users/Polik/Desktop/instagram/css/main.sass */
  .why:after {
    background: url(../img/foot-purple.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  /* line 704, /Users/Polik/Desktop/instagram/css/main.sass */
  .why .section_head {
    margin-bottom: 45px; }
    /* line 706, /Users/Polik/Desktop/instagram/css/main.sass */
    .why .section_head h2 {
      text-align: center;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
  /* line 712, /Users/Polik/Desktop/instagram/css/main.sass */
  .why_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 37px; }
    /* line 721, /Users/Polik/Desktop/instagram/css/main.sass */
    .why_body .wh {
      padding: 0 28px;
      width: 47%;
      margin-bottom: 59px; }
      /* line 725, /Users/Polik/Desktop/instagram/css/main.sass */
      .why_body .wh h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 15px; }
      /* line 731, /Users/Polik/Desktop/instagram/css/main.sass */
      .why_body .wh p {
        font-size: 16px;
        line-height: 1.5; }
  /* line 734, /Users/Polik/Desktop/instagram/css/main.sass */
  .why_footer {
    font-size: 16px; }
    /* line 736, /Users/Polik/Desktop/instagram/css/main.sass */
    .why_footer p {
      text-align: center; }

/* line 738, /Users/Polik/Desktop/instagram/css/main.sass */
.footer {
  padding: 54px 0; }
  /* line 740, /Users/Polik/Desktop/instagram/css/main.sass */
  .footer .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* line 748, /Users/Polik/Desktop/instagram/css/main.sass */
  .footer .foot_logo {
    width: 180px;
    max-width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    /* line 757, /Users/Polik/Desktop/instagram/css/main.sass */
    .footer .foot_logo img {
      object-fit: contain;
      margin-bottom: 10px;
      margin-top: 15px; }
    /* line 761, /Users/Polik/Desktop/instagram/css/main.sass */
    .footer .foot_logo p {
      color: rgba(0, 0, 0, 0.502);
      font-size: 12px;
      line-height: 1.2;
      text-align: center;
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
  /* line 769, /Users/Polik/Desktop/instagram/css/main.sass */
  .footer .foot_menu {
    width: 570px;
    max-width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    /* line 778, /Users/Polik/Desktop/instagram/css/main.sass */
    .footer .foot_menu ul {
      width: 48.5%; }
    /* line 780, /Users/Polik/Desktop/instagram/css/main.sass */
    .footer .foot_menu li {
      color: #392da7;
      line-height: 1.5;
      font-size: 14px; }

/* line 787, /Users/Polik/Desktop/instagram/css/main.sass */
.banner_img2 .img {
  width: 557px;
  height: 525px;
  left: -58px;
  top: 175px;
  background: url(../img/main.png);
  background-repeat: no-repeat;
  background-position: 50% 13%;
  position: absolute; }

/* line 796, /Users/Polik/Desktop/instagram/css/main.sass */
.about {
  background: #f9fbff;
  padding-top: 146px;
  position: relative; }
  /* line 801, /Users/Polik/Desktop/instagram/css/main.sass */
  .about:after {
    background: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -86%;
    left: 0;
    z-index: 0;
    content: ''; }
  /* line 812, /Users/Polik/Desktop/instagram/css/main.sass */
  .about_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
    /* line 822, /Users/Polik/Desktop/instagram/css/main.sass */
    .about_body .row {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 190px; }
      /* line 833, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row_info {
        width: 47.5%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        /* line 842, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row_info h2 {
          margin-bottom: 12px; }
        /* line 844, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row_info p {
          line-height: 1.2;
          margin-bottom: 40px;
          width: 78%; }
      /* line 849, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row:nth-child(2n) {
        flex-direction: row-reverse; }
        /* line 851, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row:nth-child(2n) .row_info {
          align-items: flex-end;
          width: 41.2%; }
          /* line 854, /Users/Polik/Desktop/instagram/css/main.sass */
          .about_body .row:nth-child(2n) .row_info p {
            text-align: right;
            width: 100%;
            margin-bottom: 28px; }
        /* line 858, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row:nth-child(2n) img {
          left: auto;
          right: 175px;
          top: -80px; }
      /* line 862, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row:nth-child(3n) {
        padding-top: 16px; }
        /* line 864, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row:nth-child(3n) .row_info {
          padding-top: 17px; }
        /* line 866, /Users/Polik/Desktop/instagram/css/main.sass */
        .about_body .row:nth-child(3n) p {
          margin-bottom: 24px; }
      /* line 869, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row img {
        object-fit: contain;
        position: absolute;
        top: -90px;
        left: 130px; }
      /* line 874, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row .btn {
        width: 262px;
        height: 60px;
        background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%);
        box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); }
      /* line 882, /Users/Polik/Desktop/instagram/css/main.sass */
      .about_body .row_img {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        position: relative; }

/* line 891, /Users/Polik/Desktop/instagram/css/main.sass */
.about2 {
  background: url(../img/why-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px; }
  /* line 896, /Users/Polik/Desktop/instagram/css/main.sass */
  .about2:after {
    content: '';
    background: url(../img/why-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

/*# sourceMappingURL=main.css.map */