@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800&subset=cyrillic');

*, html, body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -ms-content-zooming: none
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 500
    outline: none 
.wr
	width: 1140px
	max-width: 97%
	margin-right: auto
	margin-left: auto
img
    
    height: auto

ul
  list-style: none

a
  color: inherit
  text-decoration: none
  cursor: pointer

section
    padding-top: 40px
    padding-bottom: 100px
h1
    font-size: 36px
    font-weight: bold
    font-family: 'Montserrat', sans-serif
h2
    font-size: 30px
    font-weight: bold
    font-family: 'Montserrat', sans-serif
h3
    font-size: 18px
    font-weight: 700
h4
    font-size: 17px

p, li
    font-size: 16px

.btn
    color: #fff
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    max-width: 100%
    border-radius: 15px
    background-image: -moz-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
    background-image: -webkit-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
    background-image: -ms-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
    z-index: 5
    font-size: 16px
    color: rgb(249, 251, 255)
    width: 262px
    height: 60px
    font-weight: bold
    transition: all .3s ease
    span
        font-size: 24px
        font-weight: bold
        padding-left: 4px
    
.section_head
    z-index: 20
    margin-bottom: 100px
    h2
        text-align: center
        font-size: 30px
        color: #000
        font-weight: bold
        font-family: 'Montserrat', sans-serif

.header
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 50
    height: 95px
    .wr
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        height: 100%
        align-items: center
    &_logo
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        img
            height: 36px

    &_nav
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex

    .header_menu
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: flex-end


    ul
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex

        li
            margin-left: 29px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            height: 30px
            transition: all .2s ease
            &:nth-child(2)
                margin-left: 12px
            a
                color: #fff
                font-size: 16px
                font-weight: normal
                
        li.active
            background: #fff
            padding: 0px 16px
            height: 30px
            border-radius: 25px
            a
                color: #392da7
                letter-spacing: 0.1px
.banner
    position: relative
    height: 760px
    background: #fff
    background: url(../img/bg.svg) #f9fbff
    background-repeat: no-repeat
    background-size: 100% 100%
    z-index: 2
    &:after
        background: url(../img/bg.svg)
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
    &:before
        content: ''
        background: url(../img/line2.png) 
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        bottom: -85%
        left: 0
        z-index: 7
        
    .wr
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        z-index: 1
        height: 100%
        position: relative
    &_info
        z-index: 1
        width: 50%
        
        h1
            font-size: 36px
            font-weight: bold
            font-family: 'Montserrat', sans-serif
            color: #fff
            margin-bottom: 25px
            line-height: 1.2em
            width: 70%
        p
            font-size: 16px
            font-weight: normal
            color: #fff
            line-height: 1.2em
            width: 78%
    &_img
        width: 50%
        z-index: 1
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: flex-end
        position: relative
        height: 100%
        .img
            width: 557px
            height: 525px
            left: -91px
            top: 165px
            background: url(../img/IMG.png)
            background-repeat: no-repeat
            background-position: 50% 13%
            position: absolute
            
        .btn
            margin-bottom: auto
            border-radius: 15px
            background-image: -moz-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
            background-image: -webkit-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
            background-image: -ms-linear-gradient( 0deg, rgb(255,10,70) 0%, rgb(255,162,30) 100%)
            box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5)
            font-size: 16px
            color: rgb(249, 251, 255)
            width: 262px
            height: 60px
            font-weight: bold
            bottom: 156px
            position: absolute
            
.likigram 
    background: #f9fbff
    position: relative
    background: #f9fbff
    background-repeat: no-repeat
    background-size: contain
    background-position: bottom
    padding-bottom: 175px
    z-index: -1
    padding-top: 40px
    &:after
        background: url(../img/Vector.png)
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 0
    &_body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
       
        .provide
            width: 23%
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            padding-top: 63px
            img
               
                margin-bottom: 10px
                position: absolute
                top: 3px
                left: 50%
                transform: translateX(-50%)
            h3
                font-family: 'Montserrat', sans-serif
                font-size: 18px
                font-weight: bold
                margin-bottom: 8px
                line-height: 1.2

            p
                font-size: 14px
                line-height: 1.5
                text-align: center
.package
    background: #fff
    position: relative 
    padding-top: 100px
    padding-bottom: 200px
    z-index: 0
    &:before
        content: ''
        background: url(../img/Vector2.png) 
        background: url(../img/bg2.png)
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 111%
        position: absolute
        top: -127px
        left: 0
        z-index: 1
    &:after
        content: ''
        background: url(../img/line.png) 
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        bottom: -90%
        left: 0
        z-index: 2
    .wr
        position: relative
        z-index: 2
    .section_head
        margin-bottom: 110px
    &_body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        justify-content: center
        .card
            margin: 0 38px
            border-radius: 15px
            background-color: rgb(255, 255, 255)
            box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2)
            position: relative
            width: 263px
            height: 403px
   
            padding: 0 45px
            padding-top: 100px
            margin-bottom: 135px
            p
                font-size: 14px
                line-height: 2.286
                margin-bottom: 20px
                text-align: center
                color: #000
            &_views
                position: absolute
                top: -17%
                left: 50%
                transform: translateX(-50%)
                background-color: rgb(57, 45, 167)
                border-radius: 50%
                width: 146px
                height: 146px
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
        

                span
                    font-size: 24px
                    font-weight: bold
                    color: #fff
                    line-height: .8em
                p
                    font-size: 16px
                    color: #fff
                    line-height: 1.8em
                    margin-bottom: 0
            
            h2
                font-size: 24px
                font-family: 'Montserrat', sans-serif
                color: rgb(57, 45, 167)
                font-weight: bold
                text-align: center

            .btn
                position: absolute
                bottom: 9%
                border-radius: 10px
                background-image: -moz-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                background-image: -webkit-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                background-image: -ms-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                width: 166px
                height: 60px
                font-size: 16px
                font-weight: bold
                left: 50%
                transform: translateX(-50%)
.buy
    background: #fff
    position: relative 
    padding-top: 0
    padding-bottom: 70px
    background: url(../img/buy-bg.svg) 
    background-repeat: no-repeat
    background-size: cover
    &:before
        content: ''
        background: url(../img/buy-bg.svg) 
        background-repeat: no-repeat
        background-size: 100% 100%
        width: 100%
        height: 123%
        position: absolute
        top: -127px
        left: 0
        z-index: 1
    &:after
        content: ''
        background: url(../img/line2.png) 
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        bottom: -104%
        left: 0
        z-index: 1
    .wr
        position: relative
        z-index: 2
    .section_head
        margin-bottom: 35px
        h2
            color: #fff
            margin-bottom: 35px
        p
            color: #fff
            font-size: 16px
            text-align: center
            width: 50%
            line-height: 1.313
            margin-left: auto
            margin-right: auto
        .rating
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 24px
            span
                display: inline-block
                width: 50px
                height: 50px
                margin-right: 26px
                &:last-child
                    margin-right: 0
            span.active
                background: url(../img/star-active.svg)
                background-repeat: no-repeat
                background-size: contain
            span.active.half
                background: url(../img/star-half.svg)
                background-repeat: no-repeat
                background-size: contain
    .section_head2
        margin-bottom: 60px
        h2
            color: #fff
            margin-bottom: 16px
        p
            color: #fff
            font-size: 18px
            text-align: center
            width: 50%
            line-height: 1.313
            margin-left: auto
            margin-right: auto
            margin-bottom: 0
           
            
    &_slider
        
        margin-bottom: 130px
        position: relative
        h3
            font-size: 18px
            font-weight: bold
            font-family: 'Montserrat', sans-serif
            margin-bottom: 20px
        p
            font-size: 16px
            line-height: 1.5
            font-weight: 500
        .swiper-buy
            width: 947px 
        .swiper-slide
            padding: 34px 58px
            border-radius: 15px
            
            max-width: 100%
            

        .item-rating
            text-align-last: auto
            font-size: 0
            margin-bottom: 15px
        .item-star
            display: inline-block
            vertical-align: middle
            width: 27px
            height: 25px
            margin-right: 5px
    &_how
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        margin-bottom: 75px
        .card
            border-radius: 15px
            background: #fff
            width: 263px
            height: 263px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 39px
            padding: 43px
            span
                line-height: 1.2
                text-align: center
                font-weight: bold
                margin-bottom: 13px
                font-size: 30px
                margin-left: auto
                margin-right: auto
            p
                font-size: 16px
                line-height: 1.2
                text-align: center
                margin-bottom: 20px
                font-weight: normal
            img
                height: 69px
                width: 69px
    &_info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        justify-content: center
        h3
            width: 100%
            text-align: center
            font-size: 18px
            color: #fff
            line-height: 1.2
            margin-bottom: 55px
            font-weight: normal
    .buy_info__card
        width: 26.8%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        align-items: center
        img
            margin-right: 10px
          
        p
            font-size: 18px
            color: #fff
            line-height: 1.2

           
        
            
.swiper-container 
    width: 100%
    height: 100%
    background: #fff
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    height: 226px
    border-radius: 15px
    
.swiper-slide
    background: #fff
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
.swiper-button-buy-next
    background: url(../img/right-arrow.svg) !important
    background-size: 50px 40px !important
    background-position: center !important
    background-repeat: no-repeat !important
    height: 50px !important
    width: 40px !important
    margin: 0 !important
    top: 50% !important
    transform: translateY(-50%)
    right: 33px !important
    z-index: 2
    
.swiper-button-buy-prev
    background: url(../img/right-arrow.svg) !important
    background-repeat: no-repeat !important
    background-size: 50px 40px !important
    background-position: center !important
    height: 50px !important
    width: 40px !important
    transform: rotate(180deg)
    margin: 0 !important
    top: 39% !important 
    z-index: 2
    left: 33px !important 
        
.swiper-pagination
    left: 47%
    transform: translateY(-50%)
    bottom: -23%
.swiper-pagination-bullet  
    background: none !important
    border: 5px solid rgb(255, 255, 255) !important
    
    width: 17px !important
    height: 17px !important
    margin-right: 10px
    opacity: 1 !important
    &:last-child
        margin-right: 0
.swiper-pagination-bullet-active
    width: 17px !important
    height: 17px  !important   
    border: 0 !important
    background-color: rgb(255, 255, 255) !important
.foot_purple
    background: url(../img/foot-purple.svg) 
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 120px
    z-index: 1
    &:before
        content: ''
        background: url(../img/line.png) 
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        top: -14%
        left: 0
        z-index: 1
.why
    position: relative
    padding-top: 240px
    background: url(../img/why-bg.png) 
    background-repeat: no-repeat
    background-size: cover
    padding-bottom: 70px
    &:before
        content: ''
        background: url(../img/why-bg.png) 
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
    
    .section_head
        margin-bottom: 45px
        h2
            text-align: center
            width: 50%
            margin-left: auto
            margin-right: auto
            
    &_body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 37px
        .wh
            
            margin-bottom: 59px
            padding: 0 13px
            width: 45.9%
            h3
                font-family: 'Montserrat', sans-serif
                font-size: 18px
                line-height: 1.2
                font-weight: bold
                margin-bottom: 15px
            p
                font-size: 16px 
                line-height: 1.5
    &_footer
        font-size: 16px
        p
            text-align: center
.footer
    padding: 54px 0
    .wr
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
    .foot_logo
        width: 180px
        max-width: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        align-items: flex-start
        img
            object-fit: contain
            margin-bottom: 12px
            margin-top: 15px
        p
            color: rgba(0, 0, 0, 0.502)
            font-size: 12px
            line-height: 1.2
            text-align: center
            width: 60%
            margin-left: auto
            margin-right: auto
    .foot_menu
        width: 554px
        max-width: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        ul
            width: 47%
        li
            color: rgb(57, 45, 167)
            line-height: 1.5
            font-size: 14px            


.about
    background: #f9fbff
    padding-top: 132px
    position: relative
    z-index: 1
    padding-bottom: 86px
  
        
    &_body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
         
        .row
            width: 100%
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-bottom: 186px
            
            &_info
                width: 48.7%
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                flex-direction: column
                justify-content: center
                h2
                    margin-bottom: 12px
           
                p
                    line-height: 1.2 
                    margin-bottom: 44px
                    width: 79%
                    span
                        color: #392da7
                        font-weight: bold
            
            &:nth-child(2)
                flex-direction: row-reverse
                margin-bottom: 192px
                .row_info
                    align-items: flex-end
                    width: 40.1%
                    p
                        text-align: right
                        width: 104%
                        margin-bottom: 28px
                    h2
                        text-align: right
                img
                    left: auto
                    right: 171px
                    top: -80px
            &:nth-child(3)
                padding-top: 16px
                .row_info
                    padding-top: 16px
                    padding-left: 4px
                p
                    margin-bottom: 24px
                img
                    left: 145px
                
            img
                object-fit: contain
                position: absolute
                top: -90px    
                left: 103px
            .btn
                width: 262px
                height: 60px
                background-image: -moz-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                background-image: -webkit-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                background-image: -ms-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
                box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5)
                font-size: 14px
                span
                    font-size: 20px
                    font-weight: bold
                    padding-left: 4px
                    
            
            &_img
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                position: relative
                img

.about2   
    background: none
    background-repeat: no-repeat
    background-size: cover
    padding-bottom: 61px
    padding-top: 0
    &:after
        content: ''
        background: url(../img/bg2.png) 
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 127%
        position: absolute
        top: -180px
        left: 0
        z-index: -1
 
    .section_head
        margin-bottom: 111px
        h2
            width: 50%
            margin-right: auto
            margin-left: auto
    .about_body
        .row
            flex-direction: row-reverse
            margin-bottom: 147px
            &:nth-child(2n)
                flex-direction: row
            .row_img
                width: 54%
                span
                    position: absolute
                    top: 0
                    left: 0
                    border-radius: 50%
                    background-image: -moz-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%)
                    background-image: -webkit-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%)
                    background-image: -ms-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%)
                    box-shadow: 0px 3px 10px 0px rgba(169, 53, 180, 0.3)
                    width: 84px
                    height: 84px
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    color: rgb(255, 255, 255)
                    font-size: 30px
                    font-family: 'Montserrat', sans-serif
                    font-weight: bold
                    line-height: 0.733
            .row_info
                padding-left: 29px
                width: 45.2%
                h2
                    font-size: 18px
                    margin-bottom: 15px
                p
                    margin-bottom: 0
                    line-height: 1.467
                    font-size: 15px
                    width: 97%
        .row1
            .row_img
                img
                    top: -26%
                    left: 1%
                span
                    top: -48%
                    left: 0%
        .row2
            margin-bottom: 140px
            .row_info
                width: 46%
                align-items: flex-start 
                padding-left: 0 
                p
                    text-align: left 
                    width: 92%
            img
                right: 2%
                top: -25%
            .row_img
                span    
                    top: -53%
                    right: 0%
                    left: auto
        .row3
            margin-bottom: 126px
            img
                top: -12%
                left: 1%
            .row_img
                span
                    top: -40%
                    left: 0
            .row_info
                h2
                    margin-bottom: 13px
    .about_free
        border-radius: 15px
        width: 555px
        height: 233px
        padding: 23px
        margin-left: auto
        margin-right: auto
        box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2)
        background-image: -moz-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%)
        background-image: -webkit-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%)
        background-image: -ms-linear-gradient( 135deg, rgb(77,94,210) 0%, rgb(169,53,180) 100%);
        h3
            font-size: 18px    
            font-family: 'Montserrat', sans-serif
            color: #fff
            text-align: center
            margin-bottom: 28px
        p
            font-size: 16px
            color: #fff
            text-align: center
            line-height: 1.2
        .btn
            margin-top: 35px
            width: 262px
            height: 60px
            box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5)
            font-size: 16px
            margin-left: auto
            margin-right: auto
            
.why2
    position: relative
    padding-top: 225px
    background: #f9fbff
    padding-bottom: 70px
    z-index: 0
    &:before
        content: none
    .section_head
        margin-bottom: 68px
    .why_body
        position: relative
    .wh
        width: 50%
        padding: 0 6px
        margin-bottom: 53px
        img
            margin-bottom: 8px
            padding-left: 7px
          
        h3
            font-size: 16px
            margin-bottom: 14px
        p
            font-size: 14px
            line-height: 1.3
            margin-bottom: 3px 
            width: 77%
    .btn
        border-radius: 10px
        background-image: -moz-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
        background-image: -webkit-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
        background-image: -ms-linear-gradient( 0deg, rgb(169,53,180) 0%, rgb(77,94,210) 100%)
        width: 163px
        height: 37px
        position: absolute
        bottom: 29px
        right: 399px
.foot_purple2
    padding: 247px 0
    background: url(../img/foot-purple.svg) #f9fbff
    background-repeat: no-repeat
    background-size: cover
    &:before
        top: -3%
    .wr
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h2
            color: #fff
            margin-bottom: 20px
        p
            font-size: 18px
            color: #fff
            margin-bottom: 19px
            width: 48%
            text-align: center
        form
            margin-top: 32px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            position: relative
            z-index: 5
        input[type=text]
            background-color: rgb(255, 255, 255)
            width: 360px
            height: 60px
            position: relative
            font-size: 14px
            border-radius: 50px
            padding-left: 21px
            border: 0
            cursor: pointer
            &:placeholder
                font-size: 14px
                color: rgba(0, 0, 0, 0.502)
        input[type=submit]
            border-radius: 50%
            background-color: rgb(96, 85, 204)
            width: 50px
            height: 50px
            font-size: 16px
            color: rgb(249, 251, 255)
            border: 0
            right: 7px
            position: absolute
            font-weight: bold
            cursor: pointer
            -webkit-appearance: none
.banner-followers
    .banner_img
        .img
            background: url(../img/img-followers.png)
            background-repeat: no-repeat
            background-position: 50% 13%
.banner-likes
    .banner_img
        .img
            background: url(../img/likes-main.png)
            background-repeat: no-repeat
            background-position: 50% 13%
            left: -97px
            top: 132px
.banner-main
    &:before
        z-index: -1
        height: 38%
        position: absolute
        bottom: -23%
    .btn
        span
            font-size: 24px
            font-weight: bold
            padding-left: 4px
.likigram-likes  
    .likigram_body
        
        .provide
            width: 24%
            img
                margin-bottom: 14px
.package-views
    &:after
        bottom: -93%
.package-likes
    padding-top: 100px
    &:before
        top: -100px
    .section_head
        margin-bottom: 110px
    .package_body 
        .card
            padding-top: 99px
            margin-bottom: 150px
            p
                margin-bottom: 22px
        .card_views
            p
                margin-bottom: 0
        .btn
            bottom: 10%
.buy-likes
    padding-top: 13px
    .buy_info__card
        width: 26.7%
.why-likes
    padding-top: 178px
    padding-bottom: 37px
    .wh
        width: 45.5%
        margin-bottom: 55px
        padding: 0 17px
        &:nth-child(3), &:nth-child(4)
            margin-bottom: 29px
    .why_body
        margin-bottom: 0
.banner-main
    .banner_info
        h1
            width: 83%
    .banner_img
        .img
            left: -93px
            top: 158px    
            width: 557px
            height: 525px
            background: url(../img/main.png)
            background-repeat: no-repeat
            background-position: 50% 13%
            position: absolute  
    