@import url("https://fonts.googleapis.00,500,600,700,800,900|Open+Sans:300,400,600,700,800&subset=cyrillic");
*, html, body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-content-zooming: none; margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 500; outline: none; }

.wr { width: 1140px; max-width: 97%; margin-right: auto; margin-left: auto; }

img { height: auto; }

ul { list-style: none; }

a { color: inherit; text-decoration: none; cursor: pointer; }

section { padding-top: 40px; padding-bottom: 100px; }

h1 { font-size: 36px; font-weight: bold; }

h2 { font-size: 30px; font-weight: bold; }

h3 { font-size: 18px; font-weight: 700; }

h4 { font-size: 17px; }

p, li { font-size: 16px; }

.btn { color: #fff; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; max-width: 100%; border-radius: 15px; background-image: -moz-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); background-image: -webkit-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); background-image: -ms-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); z-index: 5; font-size: 16px; color: #f9fbff; width: 262px; height: 60px; font-weight: bold; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

.btn span { font-size: 24px; font-weight: bold; padding-left: 4px; }

.section_head { z-index: 20; margin-bottom: 100px; }

.section_head h2 { text-align: center; font-size: 30px; color: #000; font-weight: bold; }

.header { position: absolute; top: 0; left: 0; width: 100%; z-index: 50; height: 95px; }

.header .wr { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; height: 100%; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header_logo { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; }

.header_logo img { height: 36px; }

.header_nav { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; }

.header .header_menu { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.header ul { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; }

.header ul li { margin-left: 29px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 30px; -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }

.header ul li:nth-child(2) { margin-left: 12px; }

.header ul li a { color: #fff; font-size: 16px; font-weight: normal; }

.header ul li.active { background: #fff; padding: 0px 16px; height: 30px; border-radius: 25px; }

.header ul li.active a { color: #392da7; letter-spacing: 0.1px; }

.banner { position: relative; height: 760px; background: #fff; background: url(../img/bg.svg) #f9fbff; background-repeat: no-repeat; background-size: 100% 100%; z-index: 2; }

.banner:after { background: url(../img/bg.svg); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; }

.banner:before { content: ''; background: url(../img/line2.png); background-repeat: no-repeat; background-size: contain; width: 100%; height: 100%; position: absolute; bottom: -85%; left: 0; z-index: 7; }

.banner .wr { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; z-index: 1; height: 100%; position: relative; }

.banner_info { z-index: 1; width: 50%; }

.banner_info h1 { font-size: 36px; font-weight: bold; color: #fff; margin-bottom: 25px; line-height: 1.2em; width: 70%; }

.banner_info p { font-size: 16px; font-weight: normal; color: #fff; line-height: 1.2em; width: 78%; }

.banner_img { width: 50%; z-index: 1; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; position: relative; height: 100%; }

.banner_img .img { width: 557px; height: 525px; left: -91px; top: 165px; background: url(../img/IMG.png); background-repeat: no-repeat; background-position: 50% 13%; position: absolute; background-position: center; }

.banner_img .btn { margin-bottom: auto; border-radius: 15px; background-image: -moz-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); background-image: -webkit-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); background-image: -ms-linear-gradient(0deg, #ff0a46 0%, #ffa21e 100%); -webkit-box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); font-size: 16px; color: #f9fbff; width: 262px; height: 60px; font-weight: bold; bottom: 156px; position: absolute; }

.likigram { background: #f9fbff; position: relative; background: #f9fbff; background-repeat: no-repeat; background-size: contain; background-position: bottom; padding-bottom: 175px; z-index: -1; padding-top: 40px; }

.likigram:after { background: url(../img/Vector.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; }

.likigram_body { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.likigram_body .provide { width: 23%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; padding-top: 63px; }

.likigram_body .provide img { margin-bottom: 10px; position: absolute; top: 3px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.likigram_body .provide h3 { font-size: 18px; font-weight: bold; margin-bottom: 8px; line-height: 1.2; }

.likigram_body .provide p { font-size: 14px; line-height: 1.5; text-align: center; }

.package { background: #fff; position: relative; padding-top: 100px; padding-bottom: 200px; z-index: 0; }

.package:before { content: ''; background: url(../img/Vector2.png); background: url(../img/bg2.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 111%; position: absolute; top: -127px; left: 0; z-index: 1; }

.package:after { content: ''; background: url(../img/line.png); background-repeat: no-repeat; background-size: contain; width: 100%; height: 10%; position: absolute; bottom: -1%; left: 0; z-index: 2; }

.package .wr { position: relative; z-index: 2; }

.package .section_head { margin-bottom: 110px; }

.package_body { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.package_body .card { margin: 0 38px; border-radius: 15px; background-color: white; -webkit-box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2); box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2); position: relative; width: 263px; height: 403px; padding: 0 45px; padding-top: 100px; margin-bottom: 135px; }

.package_body .card p { font-size: 14px; line-height: 2.286; margin-bottom: 20px; text-align: center; color: #000; }

.package_body .card_views { position: absolute; top: -17%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background-color: #392da7; border-radius: 50%; width: 146px; height: 146px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.package_body .card_views span { font-size: 24px; font-weight: bold; color: #fff; line-height: .8em; }

.package_body .card_views p { font-size: 16px; color: #fff; line-height: 1.8em; margin-bottom: 0; }

.package_body .card h2 { font-size: 24px; color: #392da7; font-weight: bold; text-align: center; }

.package_body .card .btn { position: absolute; bottom: 9%; border-radius: 10px; background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); width: 166px; height: 60px; font-size: 16px; font-weight: bold; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.buy { background: #fff; position: relative; padding-top: 0; padding-bottom: 70px; background: url(../img/buy-bg.svg); background-repeat: no-repeat; background-size: cover; }

.buy:before { content: ''; background: url(../img/buy-bg.svg); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 123%; position: absolute; top: -127px; left: 0; z-index: 1; }

.buy:after { content: ''; background: url(../img/line2.png); background-repeat: no-repeat; background-size: contain; width: 100%; height: 100%; position: absolute; bottom: -104%; left: 0; z-index: 1; }

.buy .wr { position: relative; z-index: 2; }

.buy .section_head { margin-bottom: 35px; }

.buy .section_head h2 { color: #fff; margin-bottom: 35px; }

.buy .section_head p { color: #fff; font-size: 16px; text-align: center; width: 50%; line-height: 1.313; margin-left: auto; margin-right: auto; }

.buy .section_head .rating { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 24px; }

.buy .section_head .rating span { display: inline-block; width: 50px; height: 50px; margin-right: 26px; }

.buy .section_head .rating span:last-child { margin-right: 0; }

.buy .section_head .rating span.active { background: url(../img/star-active.svg); background-repeat: no-repeat; background-size: contain; }

.buy .section_head .rating span.active.half { background: url(../img/star-half.svg); background-repeat: no-repeat; background-size: contain; }

.buy .section_head2 { margin-bottom: 60px; }

.buy .section_head2 h2 { color: #fff; margin-bottom: 16px; }

.buy .section_head2 p { color: #fff; font-size: 18px; text-align: center; width: 50%; line-height: 1.313; margin-left: auto; margin-right: auto; margin-bottom: 0; }

.buy_slider { margin-bottom: 130px; position: relative; }

.buy_slider h3 { font-size: 18px; font-weight: bold; margin-bottom: 20px; }

.buy_slider p { font-size: 16px; line-height: 1.5; font-weight: 500; }

.buy_slider .swiper-buy { width: 947px; }

.buy_slider .swiper-slide { padding: 58px; border-radius: 15px; max-width: 100%; }

.buy_slider .item-rating { text-align-last: auto; font-size: 0; margin-bottom: 15px; }

.buy_slider .item-star { display: inline-block; vertical-align: middle; width: 27px; height: 25px; margin-right: 5px; }

.buy_how { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 75px; }

.buy_how .card { border-radius: 15px; background: #fff; width: 263px; height: 263px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 0 39px; padding: 43px; }

.buy_how .card span { line-height: 1.2; text-align: center; font-weight: bold; margin-bottom: 13px; font-size: 30px; margin-left: auto; margin-right: auto; }

.buy_how .card p { font-size: 16px; line-height: 1.2; text-align: center; margin-bottom: 20px; font-weight: normal; }

.buy_how .card img { height: 69px; width: 69px; }

.buy_info { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.buy_info h3 { width: 100%; text-align: center; font-size: 18px; color: #fff; line-height: 1.2; margin-bottom: 55px; font-weight: normal; }

.buy .buy_info__card { width: 26.8%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.buy .buy_info__card img { margin-right: 10px; }

.buy .buy_info__card p { font-size: 18px; color: #fff; line-height: 1.2; }

.swiper-container { width: 100%; height: 100%; background: #fff; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; height: auto !important; border-radius: 15px; }

.swiper-slide { background: #fff; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.swiper-button-buy-next { background: url(../img/right-arrow.svg) !important; background-size: 50px 40px !important; background-position: center !important; background-repeat: no-repeat !important; height: 50px !important; width: 40px !important; margin: 0 !important; top: 50% !important; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 33px !important; z-index: 2; }

.swiper-button-buy-prev { background: url(../img/right-arrow.svg) !important; background-repeat: no-repeat !important; background-size: 50px 40px !important; background-position: center !important; height: 50px !important; width: 40px !important; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); margin: 0 !important; top: 39% !important; z-index: 2; left: 33px !important; }

.swiper-pagination { left: 50% !important; -webkit-transform: translateX(-50%) !important; -ms-transform: translateX(-50%) !important; transform: translateX(-50%) !important; bottom: -23%; }

.swiper-pagination-bullet { background: none !important; border: 5px solid white !important; width: 17px !important; height: 17px !important; margin-right: 10px; opacity: 1 !important; }

.swiper-pagination-bullet:last-child { margin-right: 0; }

.swiper-pagination-bullet-active { width: 17px !important; height: 17px  !important; border: 0 !important; background-color: white !important; }

.foot_purple { background: url(../img/foot-purple.svg); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; position: relative; padding-bottom: 120px; z-index: 1; }

.foot_purple:before { content: ''; background: url(../img/line.png); background-repeat: no-repeat; background-size: contain; width: 100%; height: 100%; position: absolute; top: -14%; left: 0; z-index: 1; }

.why { position: relative; padding-top: 240px; background: url(../img/why-bg.png); background-repeat: no-repeat; background-size: cover; padding-bottom: 70px; }

.why:before { content: ''; background: url(../img/why-bg.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; }

.why .section_head { margin-bottom: 45px; }

.why .section_head h2 { text-align: center; width: 50%; margin-left: auto; margin-right: auto; }

.why_body { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 37px; }

.why_body .wh { margin-bottom: 59px; padding: 0 13px; width: 45.9%; }

.why_body .wh h3 { font-size: 18px; line-height: 1.2; font-weight: bold; margin-bottom: 15px; }

.why_body .wh p { font-size: 16px; line-height: 1.5; }

.why_footer { font-size: 16px; }

.why_footer p { text-align: center; }

.footer { padding: 54px 0; }

.footer .wr { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.footer .foot_logo { width: 180px; max-width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.footer .foot_logo img { -o-object-fit: contain; object-fit: contain; margin-bottom: 12px; margin-top: 15px; }

.footer .foot_logo p { color: rgba(0, 0, 0, 0.502); font-size: 12px; line-height: 1.2; text-align: center; width: 60%; margin-left: auto; margin-right: auto; }

.footer .foot_menu { width: 554px; max-width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.footer .foot_menu ul { width: 47%; }

.footer .foot_menu li { color: #392da7; line-height: 1.5; font-size: 14px; }

.about { background: #f9fbff; padding-top: 132px; position: relative; z-index: 1; padding-bottom: 86px; }

.about_body { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.about_body .row { width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 186px; }

.about_body .row_info { width: 48.7%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.about_body .row_info h2 { margin-bottom: 12px; }

.about_body .row_info p { line-height: 1.2; margin-bottom: 44px; width: 79%; }

.about_body .row_info p span { color: #392da7; font-weight: bold; }

.about_body .row:nth-child(2) { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-bottom: 192px; }

.about_body .row:nth-child(2) .row_info { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; width: 40.1%; }

.about_body .row:nth-child(2) .row_info p { text-align: right; width: 104%; margin-bottom: 28px; }

.about_body .row:nth-child(2) .row_info h2 { text-align: right; }

.about_body .row:nth-child(2) img { left: -6%; top: -80px; }

.about_body .row:nth-child(3) { padding-top: 16px; }

.about_body .row:nth-child(3) .row_info { padding-top: 16px; padding-left: 4px; }

.about_body .row:nth-child(3) p { margin-bottom: 24px; }

.about_body .row:nth-child(3) img { left: 145px; }

.about_body .row img { -o-object-fit: contain; object-fit: contain; position: absolute; top: -90px; left: 103px; }

.about_body .row .btn { width: 262px; height: 60px; background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); -webkit-box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); font-size: 14px; }

.about_body .row .btn span { font-size: 20px; font-weight: bold; padding-left: 4px; }

.about_body .row_img { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; width: 50%; }

.about2 { background: none; background-repeat: no-repeat; background-size: cover; padding-bottom: 61px; padding-top: 0; }

.about2:after { content: ''; background: url(../img/bg2.png); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 127%; position: absolute; top: -180px; left: 0; z-index: -1; }

.about2 .section_head { margin-bottom: 111px; }

.about2 .section_head h2 { width: 50%; margin-right: auto; margin-left: auto; }

.about2 .about_body .row { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-bottom: 147px; }

.about2 .about_body .row:nth-child(2n) { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }

.about2 .about_body .row .row_img { width: 54%; }

.about2 .about_body .row .row_img span { position: absolute; top: 0; left: 0; border-radius: 50%; background-image: -moz-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); background-image: -webkit-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); background-image: -ms-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); -webkit-box-shadow: 0px 3px 10px 0px rgba(169, 53, 180, 0.3); box-shadow: 0px 3px 10px 0px rgba(169, 53, 180, 0.3); width: 84px; height: 84px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: white; font-size: 30px; font-weight: bold; line-height: 0.733; }

.about2 .about_body .row .row_info { padding-left: 29px; width: 45.2%; }

.about2 .about_body .row .row_info h2 { font-size: 18px; margin-bottom: 15px; }

.about2 .about_body .row .row_info p { margin-bottom: 0; line-height: 1.467; font-size: 15px; width: 97%; }

.about2 .about_body .row1 .row_img img { top: -26%; left: 1%; }

.about2 .about_body .row1 .row_img span { top: -48%; left: 0%; }

.about2 .about_body .row2 { margin-bottom: 140px; }

.about2 .about_body .row2 .row_info { width: 46%; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; padding-left: 0; }

.about2 .about_body .row2 .row_info p { text-align: left; width: 92%; }

.about2 .about_body .row2 img { left: 40%; top: -25%; }

.about2 .about_body .row2 .row_img span { top: -53%; right: 0%; left: auto; }

.about2 .about_body .row3 { margin-bottom: 126px; }

.about2 .about_body .row3 img { top: -12%; left: 1%; }

.about2 .about_body .row3 .row_img span { top: -40%; left: 0; }

.about2 .about_body .row3 .row_info h2 { margin-bottom: 13px; }

.about2 .about_free { border-radius: 15px; width: 555px; height: 233px; padding: 23px; margin-left: auto; margin-right: auto; -webkit-box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2); box-shadow: 0px 33px 60px 0px rgba(166, 54, 181, 0.2); background-image: -moz-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); background-image: -webkit-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); background-image: -ms-linear-gradient(135deg, #4d5ed2 0%, #a935b4 100%); }

.about2 .about_free h3 { font-size: 18px;  color: #fff; text-align: center; margin-bottom: 28px; }

.about2 .about_free p { font-size: 16px; color: #fff; text-align: center; line-height: 1.2; }

.about2 .about_free .btn { margin-top: 35px; width: 262px; height: 60px; -webkit-box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.5); font-size: 16px; margin-left: auto; margin-right: auto; }

.why2 { position: relative; padding-top: 225px; background: #f9fbff; padding-bottom: 70px; z-index: 0; }

.why2:before { content: none; }

.why2 .section_head { margin-bottom: 68px; }

.why2 .why_body { position: relative; }

.why2 .wh { width: 50%; padding: 0 6px; margin-bottom: 53px; }

.why2 .wh img { margin-bottom: 8px; padding-left: 7px; }

.why2 .wh h3 { font-size: 16px; margin-bottom: 14px; }

.why2 .wh p { font-size: 14px; line-height: 1.3; margin-bottom: 3px; width: 77%; }

.why2 .btn { border-radius: 10px; background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); width: 163px; height: 37px; position: absolute; bottom: 29px; right: 399px; }

.foot_purple2 { padding: 247px 0; background: url(../img/foot-purple.svg) #f9fbff; background-repeat: no-repeat; background-size: cover; }

.foot_purple2:before { top: -3%; }

.foot_purple2 .wr { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.foot_purple2 .wr h2 { color: #fff; margin-bottom: 20px; }

.foot_purple2 .wr p { font-size: 18px; color: #fff; margin-bottom: 19px; width: 48%; text-align: center; }

.foot_purple2 .wr form { margin-top: 32px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; z-index: 5; }

.foot_purple2 .wr input[type=text] { background-color: white; width: 360px; height: 60px; position: relative; font-size: 14px; border-radius: 50px; padding-left: 21px; border: 0; cursor: pointer; }

.foot_purple2 .wr input[type=text]:placeholder { font-size: 14px; color: rgba(0, 0, 0, 0.502); }

.foot_purple2 .wr input[type=submit] { border-radius: 50%; background-color: #6055cc; width: 50px; height: 50px; font-size: 16px; color: #f9fbff; border: 0; right: 7px; position: absolute; font-weight: bold; cursor: pointer; -webkit-appearance: none; padding: 0; }

.banner-followers .banner_img .img { background: url(../img/img-followers.png); background-repeat: no-repeat; background-position: 50% 13%; }

.banner-likes .banner_img .img { background: url(../img/likes-main.png); background-repeat: no-repeat; background-position: 50% 13%; left: -97px; top: 132px; }

.banner-main:before { z-index: -1; height: 38%; position: absolute; bottom: -23%; }

.banner-main .btn span { font-size: 24px; font-weight: bold; padding-left: 4px; }

.likigram-likes .likigram_body .provide { width: 24%; }

.likigram-likes .likigram_body .provide img { margin-bottom: 14px; }

.package-views:after { bottom: -2%; }

.package-likes { padding-top: 100px; }

.package-likes:before { top: -100px; }

.package-likes .section_head { margin-bottom: 110px; }

.package-likes .package_body .card { padding-top: 99px; margin-bottom: 150px; }

.package-likes .package_body .card p { margin-bottom: 22px; }

.package-likes .package_body .card_views p { margin-bottom: 0; }

.package-likes .package_body .btn { bottom: 10%; }

.buy-likes { padding-top: 13px; }

.buy-likes .buy_info__card { width: 26.7%; }

.why-likes { padding-top: 178px; padding-bottom: 37px; }

.why-likes .wh { width: 45.5%; margin-bottom: 55px; padding: 0 17px; }

.why-likes .wh:nth-child(3), .why-likes .wh:nth-child(4) { margin-bottom: 29px; }

.why-likes .why_body { margin-bottom: 0; }

.banner-main .banner_info h1 { width: 83%; }

.banner-main .banner_img .img { left: -93px; top: 158px; width: 557px; height: 525px; background: url(../img/main.png); background-repeat: no-repeat; background-position: 50% 13%; position: absolute; }

.header-1 { background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); position: relative; }

.faq, .blog { background: #fafafa; }

@media (max-width: 750px) {
	.header img {
		position: relative;
		top: 2px;
	}

	

	.footer .foot_logo img {
		margin-bottom: 15px !important;
	}
}

.faq .section_head p, .blog .section_head p {
	line-height: 1.55em;
}

.faq_form1 .section_head h2, .faq_form1 .section_head p {
	line-height: 1.55em;
	color: #5a5a5a !important;
}

.faq .section_head, .blog .section_head { position: relative; margin-bottom: 60px; }

.faq .section_head h2, .blog .section_head h2 { position: relative; margin-bottom: 20px; }

.faq .section_head h2:after, .blog .section_head h2:after { height: 15px; width: 80px; background: rgba(129, 71, 204, 0.33); z-index: -1; position: absolute; bottom: 0; left: 50%; top: 55%; -webkit-transform: skew(-28deg) translateX(-50%); -ms-transform: skew(-28deg) translateX(-50%); transform: skew(-28deg) translateX(-50%); content: ''; }

.faq .section_head p, .blog .section_head p { width: 50%; text-align: center; margin-right: auto; margin-left: auto; font-size: 15px; color: #636363; line-height: 1.4; }

.faq .section_head p a, .blog .section_head p a { color: #526dc6; font-weight: 600; text-decoration: underline; }

.faq_body { max-width: 670px; margin-left: auto; margin-right: auto; }

.faq_body .question { width: 100%; background: #fff; margin-bottom: 20px; border-radius: 15px; text-align: left; -webkit-box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); margin-bottom: 20px; }

.faq_body .question .question_head { cursor: pointer; padding: 30px; }

.faq_body .question .question_head img { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); width: 20px; height: 20px; display: inline-block; vertical-align: middle; }

.faq_body .question .question_head h3 { width: calc(100% - 35px); padding-left: 10px; color: #636363; font-weight: 400; line-height: 120%; display: inline-block; vertical-align: middle; }

.faq_body .question .question_body { -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; display: none; }

.faq_body .question .question_body p { padding: 30px; padding-top: 0; font-size: 15px; color: #aaa; line-height: 150%; }

.faq_body .question.expanded .question_head img { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }

.faq_body .question.expanded .question_body { -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; display: block; }

.faq_form { background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); padding: 60px 0; }

.faq_form .section_head { margin-bottom: 60px; }

.faq_form .section_head h2 { color: #fff; margin-bottom: 20px; }

.faq_form .section_head p { width: 50%; margin-left: auto; margin-right: auto; color: #fff; text-align: center; }

.faq_form__body { max-width: 720px; margin-left: auto; margin-right: auto; }

.faq_form__body form { max-width: 500px; width: calc(100% - 80px); background: #fff; border-radius: 15px; padding: 30px 40px 40px; margin: 0 auto; margin-top: 30px; display: block; text-align: left; -webkit-box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); }

.faq_form__body form .form-input { padding: 10px 0; display: block; width: 100%; position: relative; }

.faq_form__body form .form-input label { font-weight: 900; font-size: 14px; color: #526dc6; padding-bottom: 8px; display: block; }

.faq_form__body form .form-input.half { padding: 10px 0; width: calc(50% - 10px); display: inline-block; vertical-align: top; }

.faq_form__body form .form-input.half:nth-child(2) { margin-left: 15px; }

.faq_form__body form #form-name-input, .faq_form__body form #form-email-input, .faq_form__body form #form-subject-select { -webkit-appearance: none; width: 100%; height: 37px; line-height: 100%; border: 1px solid #e0e0e0; border-radius: 6px; color: #636363; font-weight: 400; font-size: 16px; padding: 5px 10px; }

.faq_form__body form .icon { width: 20px; height: 20px; padding: 5px; right: 7px; bottom: 18px; position: absolute; z-index: 5; pointer-events: none; cursor: pointer; }

.faq_form__body form #form-message-input { -webkit-appearance: none; outline: 0; padding: 0; border: 0; margin: 0; width: 100%; height: 120px; border: 1px solid #e0e0e0; border-radius: 6px; resize: vertical; color: #636363; font-size: 16px; line-height: 120%; font-weight: 400; padding: 11px 10px; margin-bottom: 10px; }
.blog_footer p {
	    width: 760px;
    margin: auto;
    line-height: 1.55em;
    color: #6a6a6a;
    font-weight: 100;
    max-width: 100%;
}
.faq_form__body form select { background: #fff; }

.faq_form__body form .btn { background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); width: 200px; border-radius: 6px; -webkit-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.1); box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.1); height: 50px; }

.blog_body { max-width: 800px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: auto; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-right: auto; }

.blog_body h3 { padding-top: 0px; padding-left: 10px; padding-bottom: 15px; font-size: 23px; font-weight: 900; display: block; width: 100%; }

.blog_body .blog_block { width: calc(50% - 20px); margin: 10px; margin-bottom: 40px; display: inline-block; vertical-align: top; background: #fff; border-radius: 10px; -webkit-box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); max-width: 370px; }

.blog_body .blog_img { width: 100%; height: 240px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-size: cover; background-position: 50%; }

.blog_body .blog_info { padding: 40px; text-align: left; }

.blog_body .blog_info h3 { font-weight: 800; font-size: 20px; padding-bottom: 7px; line-height: 1.2; padding-left: 0; padding-top: 0; }

.blog_body .blog_info span { font-weight: 400; font-size: 14px; line-height: 130%; padding-bottom: 20px; color: #aaa; display: block; }

.blog_body .blog_info p { font-weight: 400; font-size: 14px; line-height: 130%; padding-bottom: 20px; color: #636363; }

.blog_body .blog_info a { font-weight: 900; font-size: 16px; color: #526dc6; }

.article { padding: 100px 0; background: #fafafa; } .blog_body .blog_info p { line-height: 1.55em;  }

.article .wr { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.article a.back { font-size: 16px; font-weight: 700; margin-bottom: 20px; text-transform: uppercase; color: #526dc6; margin-right: auto; }

.article_header { font-weight: 800; font-size: 32px; line-height: 120%; text-align: left; padding-bottom: 10px; }

.article span { font-weight: 400; color: #aeaeae; font-size: 14px; display: block; }

.article .article_img { width: 100%; height: 470px; max-width: 770px; display: block; background-size: cover; background-position: 50%; border-radius: 6px; -webkit-box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15); }

.article .article_content { width: 100%; max-width: 800px; padding-top: 40px; display: block; }

.article .article-posted { width: 80px; height: auto; vertical-align: top; text-align: center; border-top: 2px solid #526dc6; float: left; margin-right: 15px; margin-bottom: 15px; }

.article .article-posted .day { font-size: 30px; font-weight: 900; color: #636363; padding: 20px 0 10px; }

.article .article-posted .month { font-size: 14px; padding-bottom: 2px; text-transform: uppercase; line-height: 120%; font-weight: 400; color: #aeaeae; }

.article .article-posted .year { font-size: 14px; padding-bottom: 2px; text-transform: uppercase; line-height: 120%; font-weight: 400; color: #aeaeae; }

.article .article-info { width: 100%; padding-right: 0px; height: auto; vertical-align: top; text-align: justify; }

.article .article-info p { width: 100%; font-weight: 400; font-size: 17px; line-height: 1.55; color: #636363; margin-bottom: 10px; }

.article .article-info p img { width: 100%; } .article img {
	    border-radius: 6px;
    -webkit-box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15);
}

.article a.back:hover {
	text-decoration: underline;
}

.article .article-info h1, .article .article-info h2, .article .article-info h3, .article .article-info h4, .article .article-info h5 { width: 100%; font-weight: 600;  margin-bottom: 15px; }

.ask { background-image: -moz-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -webkit-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); background-image: -ms-linear-gradient(0deg, #a935b4 0%, #4d5ed2 100%); position: relative; padding: 50px 0 170px; }

.search { position: relative; max-width: 850px; margin-left: auto; margin-right: auto; }

.search:before { content: " "; font-size: 14px; line-height: 0; position: absolute; text-align: center; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 24px; width: 32px; height: 32px; z-index: 3; background: url(../img/search.svg); background-size: contain; }

.search input { font-weight: 300; max-width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; -webkit-transition: border .12s ease-in-out; -o-transition: border .12s ease-in-out; transition: border .12s ease-in-out; border: none; }

.search #query { line-height: 1.2em; font-weight: lighter; padding: 0.95em 2.7em; width: 100%; -webkit-appearance: none; font-size: 18px; font-weight: 300; border-radius: 8px; background-color: #ffffff; -webkit-box-shadow: 0 36px 67px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 36px 67px 0 rgba(0, 0, 0, 0.2); padding-left: 80px; padding-right: 33px; height: 64px; }

.faq_form1 { background: #fafafa; padding-top: 20px; }

.faq_form1 .section_head h2, .faq_form1 .section_head p { color: #000; }

.backgrey { width: 100%; bottom: 56px; left: 0; background: url(https://stormlikes.com/img/sep-grey.svg) repeat-x; background-size: cover; background-position: center top; z-index: 1; position: absolute; width: 100%; bottom: 0; left: 0; background-size: cover; background-position: center top; height: 100px; }

br { display: none !important; }
